{% extends "./base.html" %}
{% load static %}
{% load l10n %}
<!DOCTYPE html>
{% block styles %}
<!-- map style -->
<style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
        background-color: #019ac6 !important;
        flex-direction: column;
    }
    #map {
      height: 430px;
      width: 75%;
      margin-top: 30px;
      justify-content: center;
      font-size:18px;
      text-align: center;
    }
    .static_row {
        top: 20px;
        position: fixed;
    }
    .row {
        width: 75%;
    }
    .col {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
    #uploaded_img {
        width: 200px;
    }
    .img_row {
        display: flex;
        justify-content: flex-end;
    }
    #cities_div {
        margin-top: 30px;
    }
    .search_input {
        display: flex;
        flex-wrap: nowrap !important;
    }
    #search_btn {
        padding-left: 20px;
    }
</style>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="{% static 'js/map.js' %}"></script>
    <title>PlacesForU</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
{% endblock %}
    <body>
        {% block section %} 
        <!--The div element for the map -->
        <div class="row static_row" style="z-index: 100;">
            <div class="col-2">
                <button class="btn btn-outline-secondary" onclick='location.replace("/")'>Volver</button>
            </div>
        </div>
        <div class="row static_row">
            <div class="col">
                <img src="{% static 'logo-nobg.png' %}" alt="Logo" width="100" height="100">
            </div>
        </div>
        <div class="row static_row img_row" >
            <img id="uploaded_img" src="" alt="Logo" width="100" height="100">
        </div>

        <div class="row">
            <div id="map" class="col-9"> 
                <p>La búsqueda no obtuvo ningún resultado. Intenta usar otro imagen.</p>
                <img src="{% static 'failed.jpg' %}" box-sizing="content-box" height ="100%">
            </div>
            <div class="col-3" id="cities_div">
                <h1>Busca vuelos</h1>
                <div class="row search_input">
                    <label for="flight_date">Fecha:</label>
                    <input type="date" id="flight_date">
                </div>
                <div class="row search_input">
                    <label for="cities">Origen:</label>
                    <select class="form-select" id="cities"></select>
                </div>
                <div class="row search_input" id="search_btn">
                    <!-- <div class="col-2"></div> -->
                    <button class="btn btn-secondary">Buscar</button>
                    <!-- <div class="col-2"></div> -->
                </div> 
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Destino</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Precio</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto tototototot</td>
                        <td>@mdo</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        {{ API_KEY|json_script:"API_KEY" }}
        {% csrf_token %}
        <!-- Arranque Carga la API de Maps JavaScript, complete API_KEY -->
        <script>
            opciones = JSON.parse(decodeURI("{{ nearest_cities|escapejs }}").replace(/'/g, '"'));
            select = document.getElementById("cities");
            for (var i = 0; i < opciones.length; i++) {
                var option = document.createElement("option");
                option.value = opciones[i];
                option.text = opciones[i];
                select.appendChild(option);
            }
            select.value = "MAD";
            date = document.getElementById("flight_date");
            console.log(date.value)

            document.getElementById("uploaded_img").src = "/media" + decodeURI("{{ path|escapejs }}").split("media")[1];
            

            function callback(response) {
            // Aquí puedes procesar los datos recibidos en la respuesta del servidor
                console.log(response);
            }

            var search_btn = document.getElementById("search_btn");
            // Añade el manejador del evento de cambio de selección
            cities = JSON.parse(decodeURI("{{ cities|escapejs }}").replace(/'/g, '"'));
            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            search_btn.addEventListener("click", function() {
            // Aquí puedes escribir el código que se ejecutará cuando cambie la selección
                for (let i = 1; i < 2; i++) { //CAMBIAR A cities.length
                    //xhr.open('GET', 'https://api.travelpayouts.com/v1/prices/cheap?origin=' + select.value + '&destination=' + cities[i] + '&depart_date=' + date.value + '&token=07baab25c478d0d653be62a8f1688a2c&currency=eur', true);
                    data = {
                        "origin": select.value,
                        "destination": cities[i],
                        "date": date.value
                    };
                    xhr.open("POST", "http://127.0.0.1:8000/get_flights/");
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    //xhr.send(JSON.stringify(data));
                }
            });

            var xhr = new XMLHttpRequest();
            xhr.onload = function() {
                if (xhr.status >= 200 && xhr.status < 400) {
                    var data = JSON.parse(xhr.responseText);
                    // Aquí puedes trabajar con los datos obtenidos en la respuesta
                    console.log(data);
                } else {
                    // Manejo de errores en caso de que la solicitud falle
                    console.error('Error:', xhr.status);
                }
            };
            
            const API_KEY = JSON.parse(document.getElementById('API_KEY').textContent);
            (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
            ({key: API_KEY, v: "beta"});
        </script>

        {{ coords|json_script:"coords" }}
        <!-- <p>This is a template that returns the coordinates -> {{ coords.0 }} {{ coords.1 }}.</p> --> 
        {% endblock section %}
    </body>

</html>